<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- İnternet ve ağ izinleri -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android 12 ve altı için dosya okuma izni -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <!-- Kamera özelliği - zorunlu değil -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:requestLegacyExternalStorage="true"
        android:label="Phd Akademi"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- İzin kullanım açıklamaları -->
        <meta-data
            android:name="camera_usage_description"
            android:value="Profil fotoğrafı çekimi ve ödev fotoğrafları için kamera kullanılır" />

        <meta-data
            android:name="photo_library_usage_description"
            android:value="Profil fotoğrafı seçimi ve ödev dosyalarının gönderilmesi için galeri erişimi gereklidir" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Ana launcher intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Dosya açma intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Sistem query'leri -->
    <queries>
        <!-- Dosya görüntüleme query -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>

        <!-- url_launcher için browser query -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- PDF dosyaları için -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>

        <!-- Word dosyaları için -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/msword" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
        </intent>

        <!-- Excel dosyaları için -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.ms-excel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        </intent>

        <!-- PowerPoint dosyaları için -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.ms-powerpoint" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
        </intent>

        <!-- Resim dosyaları için -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="image/*" />
        </intent>

        <!-- Video dosyaları için -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="video/*" />
        </intent>

        <!-- Metin işleme query -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>